html,
body {
    color: #FFF;
    background: #663A31;
    font-size: 105%;
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;

    background-image: url('../img/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    color: #BFEBF4;
    text-align: center;
    font-weight: 600;
    font-size: 300%;
}

h2 {
    font-family: 'Architects Daughter', cursive;
    color: #BFEBF4;
    text-align: center;
    font-weight: 600;
    font-size: 200%;
}

h3 {
    font-family: 'Architects Daughter', cursive;
    color: #BFEBF4;
    font-weight: 600;
    font-size: 150%;
}

h4 {
    color: #BFEBF4;
    font-weight: 200;
}

h5 {
    color: purple !important;
    font-size: 110%;
    font-weight: 500;
    margin-left: 22%;
}

#main-section {
    display: flex;
}

#left-section {
    flex: 0.5;
}

#right-section {
    flex: 1;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.button-container a {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button-container img {
    width: 30px;
    height: 30px;
}

.container h1 {
    text-align: center;
    margin: 10px 0px 30px 0px;
    margin-left: auto;
}


em {
    color: #8FC43E;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#page {
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 22px;
    text-decoration: none;
}

#page:focus,
#page:active {
    color: green;
}

#page.active {
    color: #8FC43E;
}


#contenu {
    font-style: italic;
}

#contenu_centrer {
    font-style: italic;
    margin-left: 400px;
}

#long {
    margin: 0 auto;
    border-spacing: 3rem 1rem;
}

#bordure {
    border: 1px solid #333;
}

td#bordure {
    width: 50%;
}

#image_contenu_grande {
    height: 400px;
    width: auto;
}

#image_contenu {
    height: 255px;
    width: auto;
}

#image_contenu_petite {
    height: 180px;
    width: auto;
}

#image_contenu_minus {
    height: auto;
    width: 300px;
}

#haut {
    height: 25%;
    max-width: 100%;
}

#ronds_nb_projets {
    position: static;
    margin-left: 90%;
    margin-top: 0%;
}

#nb_projets {
    margin-left: 12px;
    margin-bottom: 5px;
    text-align: center;
    width: 25px;
    border: solid darkred;
    border-radius: 100%;
    border-width: 1px;
    color: darkred;
}

#image_projet {
    width: auto;
}

#image_T {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
}

#image_T:hover {
    opacity: 1;
    background-color: #1E1E1E;
}

#invisibleImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#image_profil {
    z-index: 2;
    position: static;
    max-width: 100%;
    border-radius: 50%;
}

#div_intro {
    width: 400px;
    margin: 80px auto 100px auto;
}

#image_intro {
    width: 100%;
    height: auto;
}

article {
    text-align: justify;
}

#nb_projets:hover {
    color: red;
    border: solid red;
    border-radius: 100%;
    border-width: 1px;
}

#menu_tout_premier {
    margin-left: 13%;
    margin-bottom: 3%;
    font-size: 85%
}

#menu_premier a {
    color: black;
    text-decoration: none;
}

#menu_premier a:visited {
    color: #5a2c1142;
}

#menu_premier a:hover {
    text-decoration: underline dotted;
    text-decoration-color: #5a2c1142;
}

#menu_premier li {
    margin: 1%;
}


#milieu {
    height: 50%;
    display: flex;
    justify-content: center;
    max-width: 1800px;
    margin: 0 auto;
}

#contenu {
    order: 2;
    margin-right: 5%;
    margin-left: 5%;
    max-width: 65%;
}

#image_banniere {
    z-index: 1;
    width: 100%;
    height: auto;
}

#menu_home {
    margin-left: 18.7%;
}

#menu_home span {
    color: antiquewhite;
}

a {
    color: #ffc6c6;
}

#menu_premier li {
    display: inline;
    position: center;
}

#menu_home li {
    display: inline;
    position: center;
}

.changement_page {
    display: flex;
    justify-content: space-around;
    width: 415px;
    margin: auto;
    margin-top: 50px;
    color: darkgrey;
}

#sujet {
    order: 2;
    margin-right: 5%;
    margin-left: 5%;
    max-width: 100%;
}

#sujet_panel {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 0%;
    order: 1;
}

.background {
    background-color: #5a2c1142;
    order: 0;
    max-width: 100%;
    box-shadow: 10px 5px 5px 5px #42200c;
    padding: 0px 0px 50px 0px;
}

code {
    color: lightgrey;
}


.info {
    margin-bottom: 15px;
}

#pp {
    display: block;
    text-align: center;
    justify-content: space-between;
}

.links {
    text-align: center;
    width: 100px;
    padding: 30px 50px 0px 0px;
    height: auto;
}

#sujet_panel a {
    text-decoration: none;
}


.article_projet {
    display: flex;
    width: auto;
    height: 200px;
    justify-content: center;
}

.projet {
    width: 246px;
    margin: 20px;
    padding: 10px;
    height: 380px;
}



.projet:hover {
    width: 246px;
    background-color: #5a2c1142;
    min-width: 246px;
    box-shadow: 10px 5px 5px #42200c;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    /* on aurait aussi pu mettre 0.5s */
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #333;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: white;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .popup {
        width: 70%;
    }
}

.center {
    text-align: center;
}

#fin {
    flex-wrap: wrap;
    display: flex;
    max-width: 1200px;
    margin: auto;
}

#contact {
    order: 1;
    width: 500px;
}

#propos {
    order: 2;
    width: 250px;
}

#information {
    order: 3;
    width: 250px;
}

@media (max-width:1000px) {
    #background {
        width: 100%;
    }

    #sujet {
        max-width: 100%;
    }

    #milieu {
        flex-direction: column;
    }
}

#bas {
    margin-top: 100px;
}

.page-button {
    color: #ffc6c6;
    text-decoration: none;
}

.page-button:hover {
    color: #06D85F;
    text-align: center;
}

.active-page-button {
    color: #06D85F;
    /* set active color */
}


#bas_page {
    justify-content: space-between;
    display: flex;
}

#copyright {
    color: darkgray;
    justify-content: flex-start;
}

#mentions {
    justify-content: flex-end;
}

#mentions h5 a {
    color: darkgray;
    text-decoration: none;
}

#lien_apropos {
    list-style-type: none;
}

#lien_apropos a {
    color: darkgray;
    text-decoration: none;
}

#lien_info a {
    color: darkgray;
    text-decoration: none;
}

#lien_info {
    list-style-type: none;
}

/* Styles for square container */
.image-container {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-image: url('path/to/400px_background_image.jpg'); /* Add the path to your 400px background image */
    background-size: cover;
}

.article_projet_caroussel {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styles for text overlay */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffc6c6;
}

.projet_caroussel-link {
    text-decoration: none;
    color: inherit;
}

.disabled-link {
    pointer-events: none;
  }